*{
	padding:0px;
	margin:0px;
}
 body{
 	font-family: arial;
 	display: grid;
 	grid-gap: 2px;
 	width: 100%
 	margin:0px;
  }
 header{
 	width: 100%
 	text-align: center;
 	padding:10px;
 	background-color: #7a7948;
 	color:white;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 }
 header a{
 	text-decoration: none;
 }
 .product{
 	background-color: #7a7948;
 	display:grid;
 	grid-template-columns: 0.3fr 2fr;
 	height: 700px;
 }
 .product aside ul li{
 	display: grid;
 	border-right:2px;
 	grid-template-columns: 1fr;
 	text-align: center;
 }
 ul li a {
 	padding: 10px;
 	list-style: none;
 	text-decoration: none;
 	color:white;
 	font-family: arial;
 }
 a:hover{
 	background-color: #c9bd0e;
 }
 .main{
 	background-color: #d3d67a;
 	padding: 12px;
 	color:#696303;
 	text-align: justify;
 	box-sizing: border-box;
 	border-left: 2px solid white;
 }
.footer{
	height: 20px;
	text-align: center;
	display: grid;
	justify-content: center;
	align-content: center;
	padding:10px;
	background-color: #7a7948;
	color: white;
	font-family: arial;
	margin-bottom: 0px;
}
.material-icons:hover{
	cursor: pointer;
}